body {
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  max-width: 36em;
}

#github {
  position: absolute;
  top: 0;
  right: 0;
}

#nocanvas {
  color: red;
}

textarea {
  width: 100%;
}

#canvas-wrapper {
  margin: 0 auto;
  width: 70vw;
}

canvas {
  width = 100%;
}

#code {
  margin: 1em 0;
}

input[type="submit"], button {
  display: block;
  color: white;
  background-color: dimgray;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

input[type="submit"]:hover, input[type="submit"]:focus,
input[type="submit"]:active, button:hover, button:focus, button:active {
  background-color: gray;
}
